.Login_fullbackground body,
.Login_fullbackground html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Login_fullbackground {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.Login2div {
  display: flex;
  justify-content: space-between;
  /* Ensure space between the containers */
  align-items: center;
  background-color: #2A2637;
  padding: 15px;
  height: 80%;
  width: 75%;
  /* Or you can use 100% if you want it to take full width */
  max-width: 1200px;
  /* Add a max-width if you want to limit it */
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.login-container {
  max-width: 400px;
  height: 100%;
  padding: 15px;
  background: #2A2637;
  border-radius: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: transform 0.3s ease-in-out;
}

.login-container img {
  max-width: 100%;
  height: auto;
  height: 100%;
  border-radius: 10px;
}

h1 {
  text-align: center;
  color: white;
  font-size: 2em;
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
  color: white;
}

input,
select {
  width: 92%;
  background-color: transparent;
  padding: 12px;
  color: white;
  border: 1px 4px solid #ccc;
  border-radius: 10px;
  box-shadow: inset 0 2px 4px #2A2637;
  transition: border-color 0.3s ease;
}

input:focus,
select:focus {
  border-color: #705eb9;
  outline: none;
}

.login-button {
  background-color: #705eb9;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.login-button:hover {
  background-color: #ab98f6;
  transform: translateY(-2px);
}

.login-button:active {
  background-color: #ab98f6;
  transform: translateY(0);
}

.error-message {
  color: red;
  font-size: 0.9em;
  margin-top: -10px;
  margin-bottom: 20px;
  text-align: center;
}

.switch-link {
  text-align: center;
  color: #635E76;
  cursor: pointer;
  text-decoration: underline;
  font-size: 0.9em;
  margin-top: 15px;
}

.switch-link:hover {
  color: #635E76;
}

.forgot-password {
  text-align: center;
  margin-bottom: 20px;
}

.forgot-password a {
  color: #705eb9;
  text-decoration: none;
  font-size: 0.9em;
}

.forgot-password a:hover {
  text-decoration: underline;
}