/* Conteneur du formulaire */
form {
    background: linear-gradient(135deg, #f9f9fa, #f4f5f8);
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
    padding: 30px 40px;
    max-width: 90%;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease-in-out;
}